body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: 4fr 1.5fr 4fr 1.5fr 4fr;
}
div #link {
    display: flex;
    justify-content: center;
}
div #link > a {
    background-color: #0a4b33;
    padding: 5px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.grid > div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
#one {
    border: 0.5rem solid orangered;
    padding: 10px;
}
#two {
    border: 0.5rem solid yellow;
    padding: 10px;
}
#three {
    border: 0.5rem solid green;
    padding: 10px;
}
#four {
    border: 0.5rem solid blue;
    padding: 10px;
}
