<!DOCTYPE html>
<html lang="en">
    <head>
        <title> ... 17fe9b ... </title>
    </head>
    <body>
        <div>
            <h1>Hello Everyone</h1>
        </div>
        <p>

            ... 17fe9b ...
            <strong>I'm bold text</strong>
            <em>I'm italic text</em>
        </p>
        <span>HI, bye</span>
        <ul>
            <li>Hi</li>
            <li>Hi</li>
            <li>Hi</li>
            <li>Hi</li>
        </ul>

        <a href="pythonanywhere.com"> PA </a>
        <a href="pythonanywhere.com" target="_blank"> PA - new </a>
        <a href="/">Home Page</a>


    </body>
</html>